* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	display: grid;
	grid-template-columns: 21% 1fr 1fr 1fr 1fr 1fr 1fr 15px;
	grid-template-rows: 1fr;
	grid-template-areas:
	"sidebar column1 column2 column3 column4 column5 column6 marge"; 
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background-color: #ebebeb;
}

.gallery-mobile {
    display: none;
}

aside {
	grid-area: sidebar;
	position: fixed;
	background-color: #ebebeb;
	width: 21%;
	height: 100vh;
}

.gallery-container {
    width: 100%;
	height: 100vh;
	margin-top: 14px;
	padding-bottom: 15px;
	background-color: transparent;
}

.gallery-item {
	width: calc(25%-10px);
	padding: 6px;
	background-color: transparent;
}

.gallery-item img {
	width: 100%;
	height: auto;
	display: block;
	cursor: pointer;
}

.gallery-item img:hover {
	transition: opacity 0.3s ease;
	opacity: 0.3;
}

#fullscreen-overlay {
	display: none;
	overflow-y: hidden;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ebebeb;
	z-index: 1000;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
}

#fullscreen-image {
	max-width: 90%;
	max-height: 95.85%;
}

.close-button {
	position: absolute;
	top: 7px;
	right: 17px;
	font-style: arial;
	font-size: 1em;
	color: black;
	opacity: 0.4;
	cursor: pointer;
}

.close-button:hover {
	color: white;
}

column1 {
	grid-area: column1;
	width: 1fr;
	height: 100vh;
	padding-left: 4.5px;
	background-color: #ebebeb;
}

column2 {
	grid-area: column2;
	width: 1fr;
	height: 100vh;
	background-color: #ebebeb;
}

column3 {
	grid-area: column3;
	width: 1fr;
	height: 100vh;
	background-color: #ebebeb;
}

column4 {
	grid-area: column4;
	width: 1fr;
	height: 100vh;
	background-color: #ebebeb;
}

column5 {
	grid-area: column5;
	width: 1fr;
	height: 100vh;
	background-color: #ebebeb;
}

column6 {
	grid-area: column6;
	width: 1fr;
	height: 100vh;
	background-color: #ebebeb;
}

marge {
	grid-area: marge;
	width: 14.5px;
	height: 100vh;
	background-color: #ebebeb;
}

.logo2 {
	width: 104px;
	height: 70px;
	margin-left: 23px;
	margin-top: 16px;
	opacity: 0.4;
}

.liens-aside ul {
	list-style-type: none;
	padding: 0;
	margin-top: 17px;
}

.liens-aside li {
	margin-left: 23px;
	line-height: 1.4;
}

.liens-aside a {
	text-decoration: none;
	color: black;
	opacity: 1;
	font-size: 13.5px;
	font-weight: 300;
	font-family: 'Inter', Arial, sans-serif;
    display: inline-block;
    transform: scaleY(0.96);
}

.liens-aside a:hover {
	color: white;
	opacity: 1;
}

.liens-aside2 ul {
	list-style-type: none;
	padding: 0;
	margin-top: 17px;
}

.liens-aside2 li {
	margin-left: 23px;
	line-height: 1.34;
}

.liens-aside2 a {
	text-decoration: none;
	color: black;
	opacity: 0.45;
	font-size: 13.5px;
	font-weight: 300;
	font-family: 'Inter', Arial, sans-serif;
    display: inline-block;
    transform: scaleY(0.96);
}

.menu-hamburger {
	display: none;
}

.menu-links {
    display: none;
}

.vimeologo {
	position: absolute;
	width: 20px;
	bottom: 0;
	margin-bottom: 60px;
	margin-left: 40px;
	opacity: 0;
}

.vimeologo:hover {
	opacity: 0.2;
}

.gallery-item img:hover {
	transition: opacity 0.3s ease;
	opacity: 0.3;
}


/*---------------------------------------------------- 1 */ 	

@media only screen and (max-width:1300px){
	body {
	    overflow-x: hidden;
	    display: grid;
	    grid-template-columns: 21% 1fr 1fr 1fr 1fr 1fr 1fr 15px;
	    grid-template-rows: 1fr;
	    grid-template-areas:
	    "sidebar column1 column2 column3 column4 column5 column6 marge"; 
	    width: 100%;
	    height: 100vh;
	    margin: 0 auto;
	    background-color: #ebebeb;
    }
	
	.gallery-mobile {
    display: none;
    }
	
	aside {
	    grid-area: sidebar;
	    position: fixed;
	    background-color: #ebebeb;
	    width: 21%;
	    height: 100vh;
    }
	
	.logo2 {
	    width: 95px;
	    height: 63px;
	    margin-left: 21px;
	    margin-top: 16px;
	    opacity: 0.4;
    }
	
	column1 {
	    grid-area: column1;
	    width: 1fr;
	    height: 100vh;
	    padding-left: 4.5px;
	    background-color: #ebebeb;
    }

    column2 {
	    grid-area: column2;
	    width: 1fr;
	    height: 100vh;
	    background-color: #ebebeb;
    }

    column3 {
	    grid-area: column3;
	    width: 1fr;
	    height: 100vh;
	    background-color: #ebebeb;
    }

    column4 {
	    grid-area: column4;
	    width: 1fr;
	    height: 100vh;
	    background-color: #ebebeb;
    }

    column5 {
	    grid-area: column5;
	    width: 1fr;
	    height: 100vh;
	    background-color: #ebebeb;
    }

    column6 {
	    grid-area: column6;
	    width: 1fr;
	    height: 100vh;
	    background-color: #ebebeb;
    }

    marge {
	    grid-area: marge;
	    width: 14.5px;
	    height: 100vh;
	    background-color: #ebebeb;
    }
	
	.gallery-container {
        width: 100%;
	    height: 100vh;
	    margin-top: 14px;
	    padding-bottom: 15px;
	    background-color: transparent;
    }

    .gallery-item {
	    width: calc(25%-10px);
	    padding: 6px;
	    background-color: transparent;
    }

    .gallery-item img {
	    width: 100%;
	    height: auto;
	    display: block;
    }
	
	.liens-aside ul {
	    list-style-type: none;
	    padding: 0;
	    margin-top: 17px;
    }

    .liens-aside li {
	    margin-left: 21px;
	    line-height: 1.2;
    }

    .liens-aside a {
	    text-decoration: none;
	    color: black;
	    opacity: 1;
	    font-size: 12px;
	    font-weight: 300;
	    font-family: 'Inter', Arial, sans-serif;
		display: inline-block;
        transform: scaleY(0.96);
    }

    .liens-aside a:hover {
	    color: white;
	    opacity: 1;
    }

    .liens-aside2 ul {
	    list-style-type: none;
	    padding: 0;
	    margin-top: 17px;
    }

    .liens-aside2 li {
	    margin-left: 21px;
	    line-height: 1.2;
    }

    .liens-aside2 a {
	    text-decoration: none;
	    color: black;
	    opacity: 0.60;
	    font-size: 12px;
	    font-weight: 300;
	    font-family: 'Inter', Arial, sans-serif;
		display: inline-block;
        transform: scaleY(0.96);
    }
	
	.menu-hamburger {
	    display: none;
    }
	
	.menu-links {
		display: none;
	}
}
	
	
/*---------------------------------------------------- 3 */ 	

@media only screen and (max-width:990px){
	body {
	    overflow-x: hidden;
	    display: grid;
	    grid-template-columns: auto auto auto auto auto;
	    grid-template-rows: 1fr;
	    grid-template-areas:
	    "sidebar"
		"column1 column2 column3 column4 column5";
	    width: 100%;
	    height: 100vh;
	    margin: 0 auto;
	    background-color: #ebebeb;
    }

    .gallery-mobile {
        display: none;
    }

    aside {
	    grid-area: sidebar;
	    display: flex;
		z-index: 9999;
        flex-direction: row; /* disposition horizontale */
        justify-content: space-between; /* logo gauche, menu droite */
        align-items: center;
        width: 100%;
        height: 63px;
        padding: 0 20px;
        background-color: #ebebeb;
    }
	
	column1 {
	    grid-area: column1;
	    width: 1fr;
		padding-top: 58px;
		padding-left: 6px;
	    height: 100vh;
	    background-color: #ebebeb;
    }

    column2 {
	    grid-area: column2;
	    width: 1fr;
		padding-top: 58px;
	    height: 100vh;
	    background-color: #ebebeb;
    }
	
	column3 {
	    grid-area: column3;
	    width: 1fr;
		padding-top: 58px;
	    height: 100vh;
	    background-color: #ebebeb;
    }
	
	column4 {
	    grid-area: column4;
	    width: 1fr;
		padding-top: 58px;
	    height: 100vh;
	    background-color: #ebebeb;
    }
	
	column5 {
	    grid-area: column5;
	    width: 1fr;
		padding-top: 58px;
		padding-right: 8px;
	    height: 100vh;
	    background-color: #ebebeb;
    }
	
	column6 {
	    display: none;
    }
	
    .logo2 {
	    margin-left: -4px;
	    margin-top: 3px;
		width: 84px;
		height: 52px;
		opacity: 0.4;
    }

    .menu-hamburger {
	    display: block;
		list-style-type: none;
		text-decoration: none;
	    color: black;
		opacity: 0.75;
        height: 35px;
        margin-top: 0; /* optionnel, ajuste selon rendu */
        padding-right: 40px;
		cursor: pointer;
    }

    .menu-overlay {
        display: none;
        position: fixed;
        top: 0; left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ebebeb;
        z-index: 1000;
        overflow-y: auto;
        padding: 50px 20px 20px 20px;
        box-sizing: border-box;
    }

    .menu-overlay.active {
        display: block;
    }

    .menu-links {
		display: block;
		margin-left: 0px;
	    line-height: 1.5;
		list-style-type: none;
	    padding: 0;
	    margin-top: 17px;
	}

    .menu-links a {
		text-decoration: none;
	    color: black;
	    opacity: 1;
	    font-size: 13.5px;
	    font-weight: 300;
	    font-family: 'Inter', Arial, sans-serif;
        display: inline-block;
        transform: scaleY(0.96);
	}
	
	.menu-links a:hover {
	    color: white;
	    opacity: 1;
    }
	
    .hamburger-icon.open {
        transform: rotate(45deg);
        filter: invert(20%) sepia(90%) saturate(400%) hue-rotate(180deg);
         /* Exemple de rotation + légère teinte, adapte selon image */
    }	
		
	.liens-aside {
	    display: none;
    }
	
	.liens-aside2 {
	    display: none;
	}
	
	.vimeologo {
		display: none;
    }
	
	.gallery-item {
	    width: calc(25%-10px);
	    padding: 6px;
	    background-color: transparent;
    }
}
	

/*---------------------------------------------------- 4 */ 	

@media only screen and (max-width:630px){
	body {
        display: block;
    }

    column1,
    column2,
    column3,
    column4,
    column5,
    column6 {
        display: none !important;
    }

    .gallery-mobile {
        display: block !important;
    }
  
    .gallery-mobile-list {
        padding: 71px 8px 15px 6px;
		padding-right: 19px;
        background-color: #ebebeb;
    }

    .gallery-item-mobile {
        width: 100%;
        margin-bottom: 1px;
        padding: 6px;
    }

    .gallery-item-mobile:last-child {
        margin-bottom: 0;
    }

    .gallery-item-mobile img {
        width: 100%;
        height: auto;
        display: block;
        cursor: pointer;
    }

    .gallery-item-mobile img:hover {
        transition: opacity 0.3s ease;
        opacity: 0.3;
    }

    aside {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 63px;
    }

	
	.liens-aside {
	    display: none;
    }
	
	.liens-aside2 {
	    display: none;
	}
	
	.vimeologo {
		display: none;
    }
	
}
	
